.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    min-height: 65px;
    background-color: var(--beige);
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}