
.elvish {
    font-family: 'elvish', sans-serif;
    color: var(--beige);
    font-weight: 400;
}

.ul {
    padding: 10px 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 10px 0;
}

.logo {
    width: 80vw;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    min-height: 65px;
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}