@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/elvish');
h1 {
    font-family: 'elvish', sans-serif;
    color: var(--beige);
    font-weight: 400;
}

body {
    background-color: var(--brown);
}