.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--beige);
    border-radius: 4px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    height: 77px;
    min-width: 320px;
    width: 0;
    flex-grow: 1;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
    margin: 50px 0 0 0;
}

.avatar {
    border-radius: 100%;
    object-fit: cover;
    width: 58px;
    margin: 15px;
}
